.nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left, .nav__right {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 15px;
}
.nav__right {
    justify-content: flex-end;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

.nav .btn {
    border: none;
    background: none;
    color: var(--primary-color);
}

.nav .btn:hover {
    color: var(--primary-color-dark);
    background-color: transparent;
}

.nav__logo:hover {
    color: var(--primary-color-dark);
    background-color: transparent;
}